Show message microflow.json
[
    {
      "id": "e874cefe-bc32-443e-882d-2cc3047badce",
      "type": "tab",
      "label": "Inbound Service Flow",
      "disabled": false,
      "info": ""
    },
    {
      "id": "80da4d06.d55a2",
      "type": "inject",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Input",
      "topic": "Input",
      "payload": "{}",
      "payloadType": "json",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 110,
      "y": 120,
      "wires": [
        [
          "1085dd3d.647cc3"
        ]
      ]
    },
    {
      "id": "1085dd3d.647cc3",
      "type": "switch",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "hask",
          "v": "entityName",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 220,
      "y": 240,
      "wires": [
        [
          "235cddsd.0d2423"
        ],
        [
          "28147205.c984be"
        ]
      ]
    },
  
    {
      "id": "235cddsd.0d2423",
      "type": "generateRequestBody",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Create Request Body",
      "outputs": 1,
      "x": 480,
      "y": 420,
      "wires": [
        [
          "28147205.c984be"
        ]
      ]
    },
    {
      "id": "28147205.c984be",
      "type": "toLogicalData",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Transform to Logical Data",
      "outputs": 1,
      "x": 270,
      "y": 60,
      "wires": [
        [
          "dd6550d4.e2bce"
        ]
      ]
    },
    {
      "id": "9f116870.1ef498",
      "type": "finish",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Error Response",
      "property": "payload",
      "propertyType": "msg",
      "outputs": 1,
      "x": 970,
      "y": 60,
      "wires": [
      ]
    },
    {
      "id": "dd6550d4.e2bce",
      "type": "validateData",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Validate Data",
      "outputs": 1,
      "x": 510,
      "y": 60,
      "wires": [
        [
          "15d3d01.01e563"
        ]
      ]
    },
    {
      "id": "15d3d01.01e563",
      "type": "processLogicalData",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Process Logical Data",
      "outputs": 1,
      "x": 320,
      "y": 140,
      "wires": [
        [
          "15d3d01.workflow"
        ]
      ]
    },
    {
      "id": "15d3d01.workflow",
      "type": "processWorkflowAction",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Process Workflow Action",
      "outputs": 1,
      "wires": [
        [
          "5d38e157.b4l7e"
        ]
      ]
    },
    {
      "id": "5d38e157.b4l7e",
      "type": "toPhysicalData",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Transform To Physical Data",
      "outputs": 1,
      "x": 600,
      "y": 140,
      "wires": [
        [
          "166e2a96.294bc5"
        ]
      ]
    },
    {
      "id": "166e2a96.294bc5",
      "type": "setMasterEntity",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Set Master Physical Entity",
      "outputs": 1,
      "x": 890,
      "y": 140,
      "wires": [
        [
          "1ad49873.0d4c38"
        ]
      ]
    },
    {
      "id": "1ad49873.0d4c38",
      "type": "processPhysicalData",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Process Physical Data",
      "outputs": 1,
      "x": 240,
      "y": 220,
      "wires": [
        [
          "e45d0331.61ce"
        ]
      ]
    },
    {
      "id": "36f8420.a6f1bbe",
      "type": "switch",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Is Activity Tracking Enabled",
      "property": "payload.isActivityTrackingEnabled",
      "propertyType": "msg",
      "rules": [
        {
          "t": true
        },
        {
          "t": false
        }
      ],
      "checkall": true,
      "repair": false,
      "outputs": 2,
      "x": 560,
      "y": 340,
      "wires": [
        [
          "7f91accc.d5e744"
        ],
        [
          "82b2328.c756dd"
        ]
      ]
    },
    {
      "id": "7f91accc.d5e744",
      "type": "processActivityTracking",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Process Activity Tracking",
      "outputs": 1,
      "x": 790,
      "y": 220,
      "wires": [
        [
          "82b2328.c756dd"
        ]
      ]
    },
    {
      "id": "e45d0331.61ce",
      "type": "processAuditData",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Process Audit",
      "outputs": 1,
      "x": 500,
      "y": 220,
      "wires": [
        [
          "zxcbnh.61ce"
        ]
      ]
    },
    {
      "id": "zxcbnh.61ce",
      "type": "addTransactionDetails",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Process Transaction Detail Queue",
      "outputs": 1,
      "x": 500,
      "y": 220,
      "wires": [
        [
          "d07304729.54622"
        ]
      ]
    },
    {
      "id": "d07304729.54622",
      "type": "function",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Set mode to Update",
      "func": "try{let mode = {'mode': 'Enable Message','message': 'Custom message ran successfully'};msg.payload['result'] = mode;node.send(msg);}catch(error){console.log('Errorr Occured ', error.message);}return;",
      "outputs": 1,
      "noerr": 0,
      "x": 540,
      "y": 120,
      "wires": [
        [
          "d07304729.54621"
        ]
      ]
    },
    {
      "id": "d07304729.54621",
      "type": "function",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Set mode to Update",
      "func": "try { node.send(msg); } catch (error) { console.log('Errorr Occured ', error.message); } return;",
      "outputs": 1,
      "noerr": 0,
      "x": 540,
      "y": 120,
      "wires": [
        [
          "d07304729.54609"
        ]
      ]
    },
    {
      "id": "d07304729.54609",
      "type": "finish",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Success Response",
      "property": "payload",
      "propertyType": "msg",
      "outputs": 1,
      "x": 983,
      "y": 280,
      "wires": [
      ]
    },
    {
      "id": "a169b948.7886b8",
      "type": "catch",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Catch Exceptions",
      "scope": null,
      "uncaught": false,
      "x": 240,
      "y": 420,
      "wires": [
        [
          "23475cdd.0dcf24"
        ]
      ]
    },
    {
      "id": "23475cdd.0dcf24",
      "type": "finish",
      "z": "e874cefe-bc32-443e-882d-2cc3047badce",
      "name": "Catch Finish",
      "property": "payload",
      "propertyType": "msg",
      "outputs": 1,
      "x": 460,
      "y": 420,
      "wires": [
      ]
    }
  ]