temp microflow.json
[
    {
        "id": "b9ec319d-06cc-43ad-90dd-002d49205609",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "894de834.c3f1e",
        "type": "inject",
        "z": "b9ec319d-06cc-43ad-90dd-002d49205609",
        "name": "test",
        "topic": "topic1",
        "payload": "{reqId:'test'}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "6b610a5e.c2f30"
            ]
        ]
    },
    {
        "id": "6b610a5e.c2f30",
        "type": "function",
        "z": "b9ec319d-06cc-43ad-90dd-002d49205609",
        "name": "custom",
        "func": "try { let input = msg.payload.apiRequestBody; let AppengProcessConfig = global.get('AppengProcessConfig'); const serviceOrchestrator = AppengProcessConfig.serviceOrchestrator; let dataSetUIViewQuery = `SELECT DATA_SET_UI_VIEW_CONFIG_ITEM_ID FROM info_apps.DATA_SET_UI_VIEW where DATA_SET_UUID='${input['DATA_SET_UUID']}' AND DATA_SET_UI_VIEW_TYPE='ADD_FORM';`; let dataSetUIViewQueryData = await serviceOrchestrator.selectSingleRecordUsingQuery( 'PRIMARYSPRINGFM', dataSetUIViewQuery, input ); let ConfigItemQuery = `SELECT DISTINCT ci.ITEMID as CONFIG_ID, ci.ITEMNAME as CONFIG_NAME, ci.ITEMTYPE as CONFIG_TYPE FROM infoorigin_home_md.CONFIGITEM ci JOIN infoorigin_home_md.CONFIGITEMRELATION cir1 ON cir1.CHILDITEMID = ci.ITEMID WHERE cir1.PARENTITEMID IN ('${dataSetUIViewQueryData['DATA_SET_UI_VIEW_CONFIG_ITEM_ID']}') and ci.ITEMTYPE = 'LogicalEntity' AND ci.ISDELETED = 0 AND cir1.ISDELETED = 0;`; let ConfigItemQueryData = JSON.parse( JSON.stringify( await serviceOrchestrator.selectRecordsUsingQuery( 'INFOAPPS_MD', ConfigItemQuery, input ) ) ); msg.payload.result = { gridData: ConfigItemQueryData }; node.send(msg); } catch (a) { node.error(a, msg); } return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "d0bc38b2.f067c"
            ]
        ]
    },
    {
        "id": "a169b948.7886b",
        "type": "catch",
        "z": "b9ec319d-06cc-43ad-90dd-002d49205609",
        "name": "Catch Exceptions",
        "scope": null,
        "uncaught": false,
        "wires": [
            [
                "d0bc38b2.f067c"
            ]
        ]
    },
    {
        "id": "d0bc38b2.f067c",
        "type": "finish",
        "z": "b9ec319d-06cc-43ad-90dd-002d49205609",
        "name": "finish",
        "targetType": "msg",
        "x": 590,
        "y": 200,
        "wires": []
    }
]